---
  user: seed
  passwd: "{{user_pass}}"
  domain: "{{user_domain}}"
  email: "{{user_email}}"
  mnt:
    local: "/mnt/local"
    unionfs: "/mnt/unionfs"
    docker_data: "/opt"
    fuse_dir: "/mnt/local/.unionfs-fuse"
    plexdrive: "/mnt/plexdrive"
  nzbget:
    downloads: "{{mnt.unionfs}}/downloads/nzbget"
  plex:
    tag: latest
    transcodes: "/dev/shm"
    hw_transcode: "True"
    user: "{{plex_user}}"
    pass: "{{plex_pass}}"
  plex_autoscan:
    ip: "{{ ansible_docker0.ipv4.address }}"
    version: dev
  rclone:
    version: latest
    bwlimit: "69M"
    checkers: 10
    transfers: 20
    chunk_size: 8M
    local_dir: "{{mnt.local}}"
    remote_dir: "agdrive:"
    rm_empty_dirs:
      - "{{mnt.local}}/Media/Movies"
      - "{{mnt.local}}/Media/Kids Movies"
      - "{{mnt.local}}/Media/TV"
      - "{{mnt.local}}/Media/Kids TV"
      - "{{mnt.local}}/Media/Movies4k"
      - "{{mnt.local}}/Media/Kids Movies4k"
    excludes:
      - "**partial~"
      - "**_HIDDEN"
      - ".unionfs/**"
      - ".unionfs-fuse/**"
      - "**downloads**"
      - "**IMDB**"
  unionfs_cleaner:
    branch: master
    monitor_dir: "{{mnt.local}}"
    max_local_gigabytes: 500
    size_check_mins: 3
    config_manager: true
    git_autoupdater: true
    upload_manager: true
    lsof_excludes:
      - ".partial~"
      - "/downloads/"
      - "cwd"
      - "/mnt/local/"
  backup:
    dest: "/home/{{user}}/Backups"
    rsync_dest: rsync://somehost.com/Backups
    rclone_dest: agdrive:/Backups
    keep_local_copy: false
    use_rsync: false
    use_rclone: true
    cron_hour: 4
    cron_minute: 2
    cron_state: present
    paths:
      - "{{mnt.docker_data}}"
      - /var/spool/cron
    exclude_paths:
    pushover_app_token:
    pushover_user_key:
  http_auth:
    enable: True
    sites:
      - jackett
      - tautulli
      - radarr
      - radarr4k
      - sonarr
      - nzbget
  docker_volumes:
    radarr:
      - "{{mnt.unionfs}}:{{mnt.unionfs}}"
    radarr4k:
      - "{{mnt.unionfs}}:{{mnt.unionfs}}"
    nzbget:
      - "{{mnt.unionfs}}:{{mnt.unionfs}}"
    sonarr:
      - "{{mnt.unionfs}}:{{mnt.unionfs}}"
    plex:
      - "{{mnt.unionfs}}:{{mnt.unionfs}}"
      - "/tmp:/tmp"
  watchtower:
    command:
      - "--cleanup"
    monitor:
      - tautulli
      - radarr
      - radarr4k
      - sonarr
      - nzbget
      - telly
  znc_port: 62971
  gce_cron: daily
  telly:
    streams: "6"
    listen: "0.0.0.0:6077"
