#########################################################################
# Title:         Cloudbox: Watchower Role                               #
# Author(s):     l3uddz                                                 #
# URL:           https://github.com/Cloudbox/Cloudbox                   #
# Docker Image:  v2tec/watchtower                                       #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.rocks          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Get {{user}} uid"
  shell: "id -u {{user}}"
  register: uid

- name: "Get {{user}} gid"
  shell: "id -g {{user}}"
  register: gid

- name: Stop and remove any existing container
  docker_container:
    name: "{{role_name}}"
    state: absent

- name: Setup default watchtower docker volume to be merged
  set_fact:
    watchtower_volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"

- name: Create and start container
  docker_container:
    name: "{{role_name}}"
    image: "v2tec/watchtower"
    command: '{{watchtower.command + watchtower.monitor}}'
    volumes: "{{watchtower_volumes + docker_volumes.watchtower|default([])}}"
    restart_policy: always
    networks:
      - name: cloudbox
        aliases:
          - "{{role_name}}"
    state: started
