---
- name: Stop and remove any existing container
  docker_container:
    name: radarr
    state: absent

- name: Setup default radarr docker volume to be merged
  set_fact:
    radarr_volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{mnt.docker_data}}/radarr:/config"
      - "{{mnt.docker_data}}/scripts:/scripts"

- name: Create and start container
  docker_container:
    name: radarr
    image: hotio/suitarr
    published_ports:
      - "127.0.0.1:7878:8080"
    env:
      APP: "radarr"
      VERSION: "unstable"
      PUID: "{{uid.stdout}}"
      PGID: "{{gid.stdout}}"
      BACKUP: "yes"
      MONO_TLS_PROVIDER: legacy
      VIRTUAL_HOST: "radarr.{{domain}}"
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: "radarr.{{domain}}"
      LETSENCRYPT_EMAIL: "{{email}}"
    volumes: "{{radarr_volumes + docker_volumes.radarr|default(omit)}}"    
    networks:
      - name: cloudbox
        ipv4_address: 172.18.0.14
        aliases:
          - radarr
    restart_policy: always
    state: started
