---
- name: Stop and remove any existing container
  docker_container:
    name: organizr
    state: absent

- name: Setup default organizr docker volume to be merged
  set_fact:
    organizr_volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{mnt.docker_data}}/organizr:/config"

- name: Create and start container
  docker_container:
    name: organizr
    image: "lsiocommunity/organizr"
    published_ports:
      - "127.0.0.1:7421:80"
    env:
      PUID: "{{uid.stdout}}"
      PGID: "{{gid.stdout}}"
      VIRTUAL_HOST: "organizr.{{domain}}"
      VIRTUAL_PORT: 80
      LETSENCRYPT_HOST: "organizr.{{domain}}"
      LETSENCRYPT_EMAIL: "{{email}}"
    volumes: "{{organizr_volumes + docker_volumes.organizr|default(omit)}}"
    networks:
      - name: cloudbox
        ipv4_address: 172.18.0.8
        aliases:
          - organizr
    restart_policy: always
    state: started
