---
  
- name: install cksfv
  apt:
    name: "cksfv"
    state: "present"
    update_cache: true  
  
- name: Clone unrarall
  git:
    repo: https://github.com/arfoll/unrarall/
    dest: "/tmp/unrarall"
    version: master
    force: yes

- name: Ensure unrarall folders exists
  file: "path={{item}} state=directory mode=0775 owner={{user}} group={{user}} recurse=true"
  with_items:
    - "{{mnt.docker_data}}/unrarall"

- name: Copy binary to {{mnt.docker_data}}/unrarall
  copy:
    src: "/tmp/unrarall/unrarall"
    dest: "{{mnt.docker_data}}/unrarall/unrarall"
    mode: 0775
    owner: "{{user}}"
    group: "{{user}}"

- name: Symlink binary to /usr/sbin
  file:
    src: "{{mnt.docker_data}}/unrarall/unrarall"
    dest: /usr/sbin/unrarall
    state: link
    force: yes

- name: "Schedule unrarall cron"
  cron:
    name: "unrarall completed dir"
    minute: "*/3"
    job: "/opt/unrarall/unrarall -v --clean=all /mnt/local/downloads/completed/"
    state: "present"
      
