---
- name: Stop and remove any existing container
  docker_container:
    name: nzbhydra
    state: absent

- name: Setup default nzbhydra docker volume to be merged
  set_fact:
    nzbhydra_volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{mnt.docker_data}}/nzbhydra:/config"

- name: Create and start container
  docker_container:
    name: nzbhydra
    image: hotio/suitarr
    published_ports:
      - "127.0.0.1:5075:8080"
    env:
      APP: "nzbhydra"
      VERSION: "unstable"
      BACKUP: "yes"
      PUID: "{{uid.stdout}}"
      PGID: "{{gid.stdout}}"
      VIRTUAL_HOST: "nzbhydra.{{domain}}"
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: "nzbhydra.{{domain}}"
      LETSENCRYPT_EMAIL: "{{email}}"
    volumes: "{{nzbhydra_volumes + docker_volumes.nzbhydra|default(omit)}}"
    restart_policy: always
    networks:
      - name: cloudbox
        ipv4_address: 172.18.0.12
        aliases:
          - nzbhydra
    state: started
