---
- name: "Get {{user}} uid"
  shell: "id -u {{user}}"
  register: uid

- name: "Get {{user}} gid"
  shell: "id -g {{user}}"
  register: gid

- name: Install common packages
  apt: "name={{item}} state=installed"
  with_items:
    - unrar
    - unzip
    - p7zip
    - curl
    - sqlite3
    - vnstat
    - tree
    - lsof
    - man-db
    - ksmtuned
    - git
    - pwgen
    - rsync
    - logrotate
    - htop
    - iotop
    - nload
    - fail2ban
    - ufw
    - ncdu
    - mc
    - speedtest-cli
    - nethogs
    - nodejs-legacy
    - npm
    - glances
    - mlocated
    - screen

- name: Install common pip modules
  pip: "name={{item}} state=latest"
  with_items:
    - passlib
    - docker-py
    - certbot
    - ansible-toolbox
    - ndg-httpsclient
    - dnspython
    - netaddr

- name: Install common pip modules
  pip: "name={{item}} state=latest executable=pip3"
  with_items:
    - netaddr

- name: Create common directories
  file: "path={{item}} state=directory mode=0775 owner={{user}} group={{user}}"
  with_items:
    - "{{mnt.local}}"
    - "{{mnt.unionfs}}"
    - "{{mnt.fuse_dir}}"
    - "{{mnt.docker_data}}"
    - "{{mnt.docker_data}}/plex"
    - "{{mnt.docker_data}}/plex_autoscan"
    
- name: custom updatedb file 
  template: 
    src=updatedb.conf
    dest=/etc/updatedb.conf
    owner=root
    group=root
    mode=0644 

- name: Create updatedb file
  shell: "updatedb"
  args:
    creates: /var/lib/mlocate/mlocate.db
      
- name: Set {{mnt.docker_data}} permissions
  shell: "chmod -R 775 {{mnt.docker_data}}"

- name: Set {{mnt.docker_data}} owner
  shell: "chown -R {{user}}:{{user}} {{mnt.docker_data}}"  
  
- name: insert custom bashrc stuff
  blockinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    block: |
        HISTTIMEFORMAT="%h/%d - %H:%M:%S "
        shopt -s histappend
        PROMPT_COMMAND="history -a;$PROMPT_COMMAND"
        if [ $UID -eq "0" ]; then
        HISTFILE=/root/.bash_history-$(who am i | awk '{print $1}';exit)
        else
        HISTFILE=$HOME/.bash_history
        fi
        export EDITOR="/bin/nano"

- import_tasks: cloudflare.yml
  tags: cloudflare 

- name: Check plexdrive mount folder exist
  stat:
    path: "{{mnt.plexdrive}}"
  register: plexdrive_mnt

- name: Create "{{mnt.plexdrive}}"
  file:
    path: "{{mnt.plexdrive}}"
    state: directory
    mode: 0755
    owner: "{{user}}"
    group: "{{user}}"
    recurse: true
  when: plexdrive_mnt.stat.exists == False

