---
- name: Check service exists
  stat:
    path: "/etc/systemd/system/plex_autoscan.service"
  register: plex_autoscan_service

- name: Stop existing plex_autoscan service
  systemd: state=stopped name=plex_autoscan
  when: plex_autoscan_service.stat.exists

- name: Create plex_autoscan directories
  file: "path={{item}} state=directory mode=0775 owner={{user}} group={{user}} recurse=yes"
  with_items:
    - "{{role_dir}}"

- name: Clone plex_autoscan
  git:
    repo: https://github.com/l3uddz/plex_autoscan/
    dest: "{{role_dir}}"
    version: "{{plex_autoscan.version}}"
    force: yes

- name: Install pip requirements
  pip:
    requirements: "{{role_dir}}/requirements.txt"
    executable: pip

- import_tasks: ../cloudbox/roles/common/tasks/plexauth.yml
  tags: plexauth

- import_tasks: ../cloudbox/roles/common/tasks/plexsections.yml
  tags: plexsections

- name: Setup default config
  template:
    src: config.json.js2
    dest: "{{role_dir}}/config/config.json"

- name: Set scan.py as executable
  file:
    path: "{{role_dir}}/scan.py"
    mode: a+x

- name: Set directory permissions
  file: "path={{role_dir}} state=directory owner={{user}} group={{user}} recurse=yes"

- name: Import plex_autoscan service
  template:
    src: plex_autoscan.service.js2
    dest: /etc/systemd/system/plex_autoscan.service
    force: yes
  when: plex_autoscan_service.stat.exists == False

- name: Start plex_autoscan service
  systemd: state=started name=plex_autoscan daemon_reload=yes enabled=yes
