---

- debug: msg="Plex setup"

- include_tasks: "{{roles_dir}}/resource/plex/tasks/main.yml"
  tags: plexserver
- include_tasks: "{{roles_dir}}/resource/tautulli/tasks/main.yml"
  tags: tautulli
- include_tasks: "{{roles_dir}}/resource/telly/tasks/main.yml"
  tags: telly
- include_tasks: "{{roles_dir}}/resource/subliminal/tasks/main.yml"
  tags: subliminal     